body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #e67e22;
}

/*
GLOBAL (whole website)
This file affects everything in your app.
*/